.list {
    background: #e9e6df;
    width: 258px;
    padding: 6px;
    margin: 5px;
    display: inline-block;
}
.list__title {
    margin: 0;
    padding: 16px 0;
}
.list a {
    width: 100%;
    display: block;
    text-decoration: none;
}

input{
  width: 248px;
  padding: 5px;
  outline: 0;
  background: #fff;
  box-shadow:none;
  margin-bottom: 5px;
}

p {
    text-transform: uppercase;
    color : #f08421;
}

a {
    border: 1px solid  #004b79;
    border-radius: 2px;
}