<!--Page principale-->

<h1>Kanban</h1>

<!--Onglet de navigation-->

<ul>
        <li><a href="#1">Informations</a></li>
        <li><a href="#2">Budget</a></li>
        <li><a href="#3">Ressources</a></li>
        <li><a href="#4">Gantt</a></li>
        <li><a href="#5">Kanban</a></li>
        <li><a href="#6">Risques</a></li>
</ul>

<!--Bouton de téléchargement en PDF-->

<h3 class="telecharger">Kanban du projet :</h3>


<button class="telecharger"><input type="image" id="image" height="20px"
    src="../../assets/download.png">Télécharger en PDF</button>

<!--div qui contient le bas de la page-->
<!--Il y a le kanban à gauche et les commentaires ainsi que l'ajout de documents à droite-->

<div class="general">

    <div class="kanban">
    <app-list *ngFor="let list of lists" [list]="list" [cardStore]="cardStore"></app-list>
    </div>

    <div class="droite">
    
        <div class ="Commentaires">
            <textarea placeholder="Commentaires..." rows="10" cols="33" ></textarea>
        </div>

        <div class="document">
            <h3 class="titredoc">Joindre des documents :</h3>
            <br>

            <input type="file"
                id="docs" name="documents"
                accept="document/pdf, document/png">
        </div>

    </div>

    

</div>